{% extends 'base.html' %} {% load widget_tweaks %} {% block title %}Grocery
    List{% endblock %} {% block content %}

    <h1 class="title">Grocery List</h1>

    <form action="" method="post">
        {% csrf_token %}


        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="notification is-warning">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="notification is-warning">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}


        <div class="field">
            <label class="label">Name:</label>
            <p class="control">
                {{ form.name|add_class:"input" }}
            </p>
        </div>

        <div class="field">
            <label class="label">Category:</label>
            <p class="control is-expanded">
         <span class="select is-fullwidth">
          {{ form.category }}
        </span>
            </p>
        </div>

        <div class="field">
            <label class="label">Quantity:</label>
            <p class="control is-expanded">
         <span class="select is-fullwidth">
          {{ form.quantity }}
        </span>
            </p>
        </div>

        {#        <div class="field">#}
        {#            <label class="label">Weight (Lbs):</label>#}
        {#            <p class="control">#}
        {#                {{ form.weight|add_class:"input"|attr:"step:0.25" }}#}
        {#            </p>#}
        {#        </div>#}

        <div class="field">
            <input type="submit" class="button is-primary" value="Add Item" formnovalidate/>
        </div>


    </form>

    {% regroup grocery_list by get_category_display as results %}
    {% for c in results %}
        <h4 class="title is-4">{{ c.grouper }}:</h4>
        <ul>
            {% for item in c.list %}
                {% if item.quantity > 1 %}
                    <li><a href="/edit/{{ item.id }}">
                        <i class="fa fa-pencil fa-lg"></i></a>
                        {% if item.complete is True %}
                            <a href="/complete/{{ item.id }}"><span class="complete">{{ item }} - {{ item.quantity }} </span></a>
                        {% else %}
                            <a href="/complete/{{ item.id }}"><span class="incomplete">{{ item }} - {{ item.quantity }} </span></a>
                        {% endif %}
                    </li>
                {% elif item.weight > 0 %}
                    <li><a href="/edit/{{ item.id }}">
                        <i class="fa fa-pencil fa-lg"></i></a>
                        {% if item.complete is True %}
                            <a href="/complete/{{ item.id }}"><span class="complete">{{ item }} - {{ item.weight }} lbs</span></a>
                        {% else %}
                            <a href="/complete/{{ item.id }}"><span class="incomplete">{{ item }} - {{ item.weight }} lbs</span></a>
                        {% endif %}
                    </li>
                {% else %}
                    <li><a href="/edit/{{ item.id }}">
                        <i class="fa fa-pencil fa-lg"></i></a>
                        {% if item.complete is True %}
                            <a href="/complete/{{ item.id }}"><span class="complete">{{ item }}</span></a>
                        {% else %}
                            <a href="/complete/{{ item.id }}"><span class="incomplete">{{ item }}</span></a>
                        {% endif %}
                    </li>
                {% endif %} {% endfor %}
        </ul>

    {% endfor %} {% if recipe_list %}
        <h4 class="title is-4">Recipes:</h4> {% for recipe in recipe_list %}
            <ul>
                <li><a href="/edit/recipe/{{ recipe.id }}">
                    <i class="fa fa-pencil fa-lg"></i></a>
                    <a href="{{ recipe.address }}"
                       target="_blank"
                       class="incomplete">{{ recipe|title }}</a>
                </li>
            </ul>

        {% endfor %} {% endif %}

    <br>
    <a href="{% url 'Delete' %}" class="button is-danger">Delete Grocery
        List?</a>
    <br>
    <br>
    <a href="{% url 'Recipe' %}" class="button is-info">Add
        Recipe</a> {% endblock %}
