{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Grocery List{% endblock %}

{% block content %}

    <h1 class="title">Edit {{ recipe.name|title }}</h1>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="notification is-primary">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="notification is-primary">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="" method="post">{% csrf_token %}

        <div class="field">
            <label class="label">Recipe Name:</label>
            <p class="control">
                {{ form.name }}
            </p>
        </div>

        <div class="field">
            <label class="label">URL Address:</label>
            <p class="control">
                {{ form.address|add_class:"input" }}
            </p>
        </div>

        <input type="submit" value="Update Recipe" class="button is-primary" formnovalidate/>
    </form>
    <br>
    <a href="/delete/recipe/{{ recipe.id }}" class="button is-danger">Delete {{ recipe.name|title }} Recipe?</a>
    <br>

    {% for recipe in recipe_list %}
        <h1 class="title is-4">Current Recipes:</h1>
        <ul>
            <li>
                <a href="{{ recipe.address }}">{{ recipe }}</a>
            </li>
        </ul>

    {% endfor %}
    <br>
    <a href="{% url 'Home' %}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Go Back</a>
{% endblock %}
