body {
    background: linear-gradient(#ccc, #fff);
    padding: 20px;
}

.main-title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
}


.letter {
    background: #f9f9f9;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 680px;
    min-height: 300px;
    padding: 70px;
    position: relative;
    width: 90%;
    z-index: 0;
}

.letter:before, .letter:after {
    content: "";
    height: 110%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #f6f6f6;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    left: -15px;
    top: 4px;
    transform: rotate(-5.5deg);
}

.letter:after {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 20px;
    transform: rotate(1.4deg);
}

.title.is-4 {
    padding-top: 30px;
    margin-bottom: 5px;
}

.complete {
    color: gray;
    text-decoration: line-through;
}

.incomplete.recipe {
    letter-spacing: 0;
    text-decoration: underline;
}

a:hover, a:subtitle {
    color: #00D1B2;
}

.is-hidden {
    display: none;
}

.notification > button.delete {
    border: none;
}

#id_name, #id_quantity, #id_weight, #id_category, #id_address {
    font-size: 20px;
}

.complete, .incomplete {
    font-size: 25px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #494949;
    letter-spacing: 3px;
}

.button.is-primary {
    display: block;
}

.button {
    width: 100%;
}

.fa.fa-chevron-circle-left {
    padding-top: 4px;
}

.fa.fa-pencil.fa-lg {
    font-size: 25px;
    margin-bottom: 2px;
}

.label {
    font-size: 20px;
    font-weight: 500;
}

a {
    font-size: 25px;
}

.fa.fa-chevron-circle-left {
    padding-top: 6px;
}

.button.is-primary {
    margin-top: 25px;
}

.button.is-primary, .button.is-info, .button.is-danger {
    font-size: 20px;
}

@media only screen
and (max-device-width: 1024px)
and (orientation: portrait) {

    .title.is-4 {
        font-size: 30px;
    }

    .incomplete, .complete {
        font-size: 30px;
        padding-left: 10px;
    }

    .button.is-primary, .button.is-info, .button.is-danger {
        height: 50px;
        font-size: 20px;
    }

    .letter {
        background: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin: 26px auto 0;
        max-width: 550px;
        min-height: 300px;
        padding: 50px;
        position: relative;
        width: 90%;
    }

    .letter:before, .letter:after {
        content: "";
        height: 98%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .letter:before {
        background: #f6f6f6;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        left: -5px;
        top: 4px;
        transform: rotate(-2.5deg);
    }

    .letter:after {
        background: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        right: -3px;
        top: 1px;
        transform: rotate(1.4deg);
    }

}
